html{ 
    background-color:#4F356A;
}

p{
    color: aliceblue;
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: italic;
        font-size: large;
        font-size: 4ch;
        text-align: center;
      
      
}
div{
text-align: center;
width: 50%;
margin-left: 25%;
margin-top: 100px;
}
img{ 
    border: 5px solid rgb(137, 102, 154);
    width: 90%;
}